@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid lime;
  font-family: "Inter", sans-serif;
}

/* Root variables for easy theme customization */
:root {
  --steel-gray: #6c727f;
  --charcoal-black: #1d1d1f;
  --pale-silver: #d2d5da;
  --cloud-white: #f3f4f6;
  --pure-white: #ffffff;
  --soft-black: #00000033;
  --powder-blue: #95aad0;
}

/* Base styles */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
}

.page-header {
  background-image: url(/images/background-image.png);
  color: var(--cloud-white);
}

.checkout-details {
  padding-top: 5rem;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  height: 20rem;
}

.item-count {
  background: var(--powder-blue);
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;
}

.hidden {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
}
